[Desktop Entry]
Icon=inode-directory
Name=symlab5
Type=Link
URL[$e]=file:$HOME/work/study/2023-2024/Архитектура компьютера/arch-pc/labs/lab05/report/symlab5
